.container-search {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    margin-left: 60vh;
    border-radius: 10vh;
}

.search-box {
    position: relative;
    /* left: 65vh; */
    padding: 0.7vh;
    border-radius: 4vh 0 0 4vh;
    padding-left: 2.5vh;
    width: 50vh;
}

.search-btn {
    display: flex;
    align-items: center;
    position: relative;
    /* left: 65vh; */
}

.search-icon {
    padding-left: 1.6vh;
    padding-right: 1.5vh;
    height: 34.5px;
    background: rgba(130, 196, 232, .6);
    border-radius: 0 10vh 10vh 0;
    transition: 300ms ease;
}

.search-icon:hover {
    background: rgb(63, 51, 116);
    color: black;
}